.header {
  display: flex;
  min-heigth: 100vh;
  padding: 8px 50px;
  background-color: #02f;
  bacsground-image: url("bg.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
